:root {
  --orange: rgb(255, 165, 0);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.zone {
  height: 100vh;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.outside {
  width: 50vw;
  max-width: 960px;
  background-color: lightgrey;
}

.inside {
  width: 50vw;
  max-width: 960px;
  background-color: white;
}

.character {
  position: absolute;
  font-size: 24px;
  pointer-events: none;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 1;
  transition: background-color 0.2s;
}

.trapped {
  background-color: var(--orange);
}