:root {
  --orange: orange;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.zone {
  width: 50%;
  height: 100%;
  float: left;
}

.outside {
  background-color: white;
}

.inside {
  background-color: lightgrey;
}

.character {
  position: absolute;
  text-align: center;
  cursor: pointer;
  font-size: 8px;
  display: block;
  justify-content: center;
  background-color: white;
  pointer-events: none;
  user-select: none;

}

.trapped {
  background-color: var(--orange);
}